= simple_form_for [:admin, exercise] do |form|
  = form.input :title

  %h3 Intro
  .editor#intro
    = form.input_field :intro
    .preview#intro

  %h3 Instructions
  .editor.instructions#instructions
    = form.input_field :instructions
    .preview#instructions
  = form.submit
