%header.solutions-main
  %nav.participants
    = render "my_solution", review: @review

  %section.next-steps
    = render @review.status

%div.main-inner
  = render "solutions/revision_history", feedback: @review.feedback

  %nav.participants
    = render "peer_solutions", review: @review

  = render "revisions/feedback", feedback: @review.feedback
