%article.main-inner
  %header
    %h1= @clone.title

  = render 'exercises/intro', exercise: @clone.exercise

  %section.setup
    .inner
      %h3 Setup instructions
      %ol
        %li
          %p Clone and setup the exercise repository
          %pre
            %code= render @clone.repository
        %li
          %p
            Complete the exercise in your master branch. Instructions are in
            %code README.md.
            Your solution must be tested, preferably via TDD.
        %li
          %ol
            %li
              Push your solution to your fork by running
              %code git push origin master
            %li Submit your solution below.

  = render 'exercises/instructions', exercise: @clone.exercise

  = button_to(                                  |
      t('.submit_solution'),                    |
      exercise_solutions_path(@clone.exercise), |
      method: :post                             |
    )                                           |
