%section.file
  %span.filename= file.name
  .code
    - file.each_line do |line|
      - inline_comment_form_url = new_solution_inline_comment_path(solution, file_name: file.name, line_number: line.number)
      = content_tag_with_conditional_classes( |
        :div,                                 |
        class_names: {                        |
          blank: line.blank?,                 |
          comments: line.changed?,            |
          line: true                          |
        }                                     |
      ) do                                    |
        .make-comment
          = link_to '', inline_comment_form_url, remote: true
        %pre.prettyprint.lang-ruby
          %code
            :preserve
              #{line.text}
      = render 'solutions/inline_comments', comments: inline_comment_query.comments_for(file.name, line.number), inline_comment_form_url: inline_comment_form_url
