%header.solutions-main
  %nav.participants
    %ul.solutions.my-solution
      - if @solution.submitted?
        = render @solution.my_solution
      - else
        %li
          = link_to exercise_path(@solution.exercise) do
            = render 'solutions/user', user: current_user
            %span.review-status= t('.no_solution')

%div.main-inner
  %nav.participants
    %h1 Peer Solutions
    - if @solution.has_solutions_by_other_users?
      %ul.solutions
        = render @solution.solutions_by_other_users
    - else
      .no-solutions
        %b= t('.no_solutions_heading')
        = t('.no_solution_explanation')

  %div.main-body
    %section.files.next-steps-active
      - @solution.files.each do |file|
        = render 'file', file: file, solution: @solution.viewed_solution, inline_comment_query: @inline_comment_query

    %aside.comments.next-steps-active
      %ol
        = render @solution.comments
        = render 'comments/form'
