%header.solutions-main
  %nav.participants
    %ul.solutions.my-solution
      - if @review.submitted?
        = render @review.my_solution
      - else
        %li
          = link_to exercise_path(@review.exercise) do
            = render 'solutions/user', user: current_user
            %span.review-status= t('.no_solution')

  %section.next-steps
    = render @review.status

%div.main-inner
  %nav.participants
    %h1 Peer Solutions
    - if @review.has_solutions_by_other_users?
      %ul.solutions
        = render @review.solutions_by_other_users
    - else
      .no-solutions
        %b= t('.no_solutions_heading')
        = t('.no_solution_explanation')

  %div.main-body{ :data => { :role => 'review' } }
    %section.files.next-steps-active
      - @review.files.each do |file|
        = render 'file', file: file

    %aside.comments.next-steps-active{ :data => { :role => 'top-level-comments' } }
      %ol
        = render @review.top_level_comments
        = render 'comments/form'

    .make-comment{ :data => { :role => "make-comment" } }
      = link_to '', '#'

    %script{ :type => 'text/html', :data => { :template => 'inline-comments' } }
      = render 'solutions/inline_comments', comments: [], location: ''
